/* These styles are in the head section of the generated page, 
font sizes, colors are set in projects site settings */
body {
font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
font-size:14px;
font-style:normal;
font-weight:normal;
color:Black;
background-color:LightSeaGreen;
margin:0;
padding:0;
border:none;
}
div {
	margin: 0;
	padding: 0;
	border: none;
}
p {
	margin: 0;
	padding: 0;
	border: none;
}
.site-links-list {
	margin: 0;
	padding: 0;
	border: none;
}
.site-links-list-ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.site-links-item-li {
	margin: 0;
	padding: 0;
}
.site-links-item {
	display: block;
	text-decoration: none;
	color: Black;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	padding: 5px;
}
.site-links-item:hover {
	text-decoration: none;
	color: WhiteSmoke;
	background-color: DarkOliveGreen;
}
#public-site-container {
	position: relative;
	margin: 10px;
	padding: 10px;
	min-height: 400px;
	background-color: AntiqueWhite;
}
#public-site-heading {
	position: relative;
	vertical-align: top;
	min-height: 50px;
	width: 100%;
	clear: both;
}
#public-site-content {
	position: relative;
	width: 100%;
	clear: both;
}
#public-site-title {
	position: relative;
	margin-left: 170px;
	padding: 10px;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
}
#public-site-image {
	float: left;
	width: 150px;
}
#public-site-footer {
	position: relative;
	clear: both;
	min-height: 30px;
	vertical-align: top;
	width: 100%;
	padding: 10px;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
}
#public-site-menu {
	position: relative;
	vertical-align: top;
	float: left;
	width: 150px;
	padding: 5px;
	background-color: Azure;
}
#public-page-container {
	position: relative;
	margin-left: 170px;
	padding: 10px;
	min-height: 350px;
	background-color: AntiqueWhite;
}
#public-page-title {
	position: relative;
	padding: 10px;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
}
.public-detail-title {
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	margin: 5px;
}
.public-detail-item {
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	margin: 5px;
}
