

/* Add Google Font Support for Amatic */
@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
#public-site-title {
font-family: 'Amatic SC', Myriad Pro, Helvetica;

}
#public-page-title {
font-family: 'Amatic SC', Myriad Pro, Helvetica;
}
.public-detail-title{
font-family: 'Amatic SC', Myriad Pro, Helvetica;		
}
#site-footer {
font-family: 'Amatic SC', Myriad Pro, Helvetica;	
}